<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

<servlet>
		<servlet-name>FahrtenbuchadministrationImpl</servlet-name>
		<servlet-class>de.hdm.Fahrtenbuch.server.FahrtenbuchAdministrationImpl</servlet-class>
	</servlet>
   
	<servlet-mapping>
		<servlet-name>FahrtenbuchadministrationImpl</servlet-name>
		<url-pattern>/fahrtenbuch/fahrtenbuchadministration</url-pattern>
		<url-pattern>/fahrtenbuchreport/fahrtenbuchadministration</url-pattern>
	</servlet-mapping>

	<!-- Editor Ende -->

	<!-- Report Start -->
	
	<servlet>
		<servlet-name>ReportServlet</servlet-name>
		<servlet-class>de.hdm.Fahrtenbuch.server.report.ReportGeneratorImpl</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ReportServlet</servlet-name>
		<url-pattern>/fahrtenbuch/report</url-pattern>
		<url-pattern>/fahrtenbuchreport/report</url-pattern>
	</servlet-mapping>
	
	<!-- Report Ende -->
	
	<!-- LOGIN Start -->
	
	<!-- Servlets -->
	<servlet>
		<servlet-name>loginService</servlet-name>
		<servlet-class>de.hdm.Fahrtenbuch.server.LoginServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>loginService</servlet-name>
		<url-pattern>/fahrtenbuch/login</url-pattern>
		<url-pattern>/fahrtenbuchreport/login</url-pattern>
	</servlet-mapping>

	<!-- LOGIN Ende -->

	<!-- Default page to serve -->

	<welcome-file-list>
		<welcome-file>Fahrtenbuch.html</welcome-file>
		<welcome-file>FahrtenbuchReport.html</welcome-file>
	</welcome-file-list>
</web-app>
